<%- include("partials/header"); -%>

<h1 class="secretheading">Share your secrets!</h1>

<div class="secretContainer rounded float-start">
       <% submittedSecrets.forEach(function(user){ %>
         <h2> <%= user.secret %>  </h2>
    <%   }); %>

  <a class="btn btn-primary btn-lg secretButtons" href="/submit" role="button">Submit a secret</a>
  <a class="btn btn-danger btn-lg secretButtons" href="/logout" role="button">Logout</a>

</div>

<%- include("partials/footer"); -%>
